http {
    include       mime.types;
    default_type  application/octet-stream;

    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;

    server {
        listen 80;
        server_name zabbix.sys34-ulovkinp.run.place kibana.sys34-ulovkinp.run.place;

        return 301 https://$host$request_uri;
    }

    server {
        listen 443 ssl;
        server_name zabbix.sys34-ulovkinp.run.place;

        ssl_certificate /etc/letsencrypt/live/zabbix.sys34-ulovkinp.run.place/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/zabbix.sys34-ulovkinp.run.place/privkey.pem;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location / {
            proxy_pass http://zabbix-web.ru-central1.internal;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }

    server {
        listen 443 ssl;
        server_name kibana.sys34-ulovkinp.run.place;

        ssl_certificate /etc/letsencrypt/live/kibana.sys34-ulovkinp.run.place/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/kibana.sys34-ulovkinp.run.place/privkey.pem;
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location / {
            proxy_pass http://web.ru-central1.internal;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
}