Server=zabbix-server.ru-central1.internal
ServerActive=zabbix-server.ru-central1.internal
HostnameItem=system.hostname
HostMetadata=autoreg
HostMetadataItem=system.uname
LogFile=/var/log/zabbix/zabbix_agentd.log