server {
    listen 80;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name kibana.sys34-ulovkinp.run.place zabbix.sys34-ulovkinp.run.place _

    ssl_certificate /etc/nginx/ssl/selfsigned.crt;
    ssl_certificate_key /etc/nginx/ssl/selfsigned.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location /kibana {
        proxy_pass http://kibana.ru-central1.internal;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location ~ ^/.*kibana.*$ {
        proxy_pass http://kibana.ru-central1.internal;
    }

    location /zabbix {
        proxy_pass http://zabbix.ru-central1.internal;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location ~ ^/.*zabbix.*$ {
        proxy_pass http://zabbix.ru-central1.internal;
    }
}
